name: build docker images

on:
  push:
    branches:
      - main

jobs:
  ## Continuos integration
  ci-backend:
    runs-on: ubuntu-latest
    container:
      image: python
    steps:
      - uses: actions/checkout@v1
      - name: Install backend deps
        working-directory: ./backend
        run:
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .   # configure properly your unit testing 
      
      - name: Run backend tests
        working-directory: ./backend
        run:
          python -m pytest
  
  ## Continuos integration
  ci-frontend:
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
      - uses: actions/checkout@v1
      - name: Install and test
        working-directory: ./frontend
        run: |
          npm install
          npm test -- --watchAll=false
  
  ## Continuos deployment
  cd-backend: 
    runs-on: ubuntu-latest
    needs: ci-backend
    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}

      - name: Docker build image
        working-directory: ./backend
        run: docker build -t tienda_backend .

      - name: Tag image
        run:
            docker tag tienda_backend japeto/tienda_backend:${{ github.sha }}
            docker tag tienda_backend japeto/tienda_backend:latest
      
      - name: push image to hub
        run:
            docker push tienda_backend japeto/tienda_backend:${{ github.sha }}
            docker push tienda_backend japeto/tienda_backend:latest



